.inscriptionForm{

    width: 15rem;
    position: absolute;
    padding:3rem;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.098);
    border-radius: 1rem;
}
#inscriptionH3{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inscriptionFormGroup{
    display: flex;
    margin-bottom: 0.8rem;
    justify-content: space-between;
    margin: 1rem;
    
}

.errorInscription{
    color: red;
    
    left: 20%;
    bottom: 2%;
}