.page-wrapper {  
  display: flex;
  margin: 30px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  z-index: -1;
  
}

.category-label{
  width:100px;
  justify-content: space-between;
  display:flex;
  margin-left:0.3rem;
}

#productPage{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: rgba(240, 248, 255, 0);
}

.categories{
  margin-top: 2rem;
  margin-left: 2.5rem;
}